name: JSTS Quality

on:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test:
    name: JSTS Quality
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6

    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: ./test/package-lock.json

    - name: Install dependencies
      run: npm ci
      working-directory: ./test

    - name: JSTS Quality
      uses: ./
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        working_directory: ./test
